navbar {
    margin: 25px;
    background: #f9f9f9;
    padding: 16px;
    .menuItems {
      list-style: none;
      display: flex;
  
      li {
        margin: 50px;
  
        a {
          text-decoration: none;
          color: #8f8f8f;
          font-size: 24px;
          font-weight: 400;
          transition: all 0.5s ease-in-out;
          position: relative;
          text-transform: uppercase;
  
          &::before {
            content: attr(data-item);
            transition: 0.5s;
            color: #8254ff;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 0;
            overflow: hidden;
          }
  
          &:hover {
            &::before {
              width: 100%;
              transition: all 0.5s ease-in-out;
            }
          }
        }
      }
    }
  }


.body {
    --color-primary: #FAF9F6;
    --color-accent: rgb(217, 217, 217);
    --border-radius: 4px;

    margin:0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(https://static.vecteezy.com/system/resources/previews/003/543/386/original/wireframe-city-background-perspective-3d-render-of-building-wireframe-free-vector.jpg);
    background-size: cover;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: var(--border-radius);
    background: var(--color-accent);
    justify-content: center;
}

.table {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    border-radius: var(--border-radius);
    background: var(--color-accent);
    justify-content: center;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}


.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.form_hidden {
    display: none;
}

.form_title {
    margin-bottom: 2rem;
    text-align: center;
}



.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: var(--border-radius)
}