.body {
    --border-radius: 4px;

    margin:0;
    background: url(https://wallpapercave.com/wp/wp9432571.jpg);
    background-size: cover;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    color: black;
}

.navbar {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: #fff;
    padding: 10px;
    top: 0%;
    left: 0%;
    justify-content: center;
    float: left;
}

.menuItems {
    font-size: 14px;
    list-style:none;
    left: 10%
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.form_button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 10px;
    justify-content: center;
}

.homecontainer {
    height: 350px;
    width: 400px;
    background-color: rgb(218, 218, 218);
    color: #000000;
    padding: 10px;
    border: solid 3px black;
    position: absolute;
    top: 10%;
    left: 30%;
}

.postcontainer {
    height: 60px;
    width: 400px;
    background-color: rgb(218, 218, 218);
    color: black;
    padding: 10px;
    border: solid 3px black;
    position: absolute;
    top: 10%;
    left: 30%;
}

.posttable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    top: 80%;
}

.posttable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.posttable th,
.posttable td {
    padding: 12px 15px;
}

.posttable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.posttable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.posttable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

input {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.form_hidden {
    display: none;
}

.form_title {
    margin-bottom: 2rem;
    text-align: center;
}



.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border: none;
    border-radius: var(--border-radius)
}


.h3 {
    font-size: 16px;
}